 body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #aecc9d;
  }
  h1 {
    text-align: center;
  }
  .section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .nutrient {
    background-color: #477747;
    padding: 10px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
  }
  .division {
    margin-top: 10px;
    padding: 8px;
    border-radius: 6px;
    background-color: #74b168;
  }
  .sources {
    margin-top: 5px;
    font-size: 0.9em;
  }
  .buttons {
    margin-top: 30px;
    text-align: center;
  }
  button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #0059ff;
    color: white;
    cursor: pointer;
    font-size: 1em;
  }
  button.active {
    background-color: #00b3b3;
  }